$bg-new-gray: #f3f5f7;
$bg-x-light-gray: #eeeeee;
$bg-light-gray: #fdfdfd;
$bg-gray: #ddd;
$bg-black: #333;
$bg-light-black: #1c1c1c;
$bg-deep-black: #000;
$bg-white: #fff;
$bg-red: #f34541;
$bg-modal: rgba(0, 0, 0, 0.5);

$text-x-light-gray: #ccc;
$text-light-gray: #999;
$text-dark-gray: grey;
$text-gray: #888888;
$text-white: #fff;
$text-light-black: #464646;
$text-black: #333;
$text-deep-black: #000;

$border-x-light-gray:#eaeaea;
$border-light-gray: #f1f1f1;
$border-gray: #666;
$border-white: #fff;

$color-facebook: #3b5998;
$color-vine: #00b488;
$color-twitter: #55acee;
$color-instagram: #3f729b;
$color-pinterest: #bd081c;
$color-youtube: #e52d27;
$color-flick: #0063dc;
$color-vimeo: #1ab7ea;
$color-tumblr: #35465c;
$color-dailymotion: #0066dc;

$highlight-color: #f34541; // red
$second-highlight-color: #3c9db5;
